.MainTitleGreen {
	color: #22d226;
	font-family: 'Lucida Calligraphy';
    font-size: 50px;
    text-align: center;
}



#frase {
	font-family:Courier;    
    font-size: 35px;
    text-align: center;
}

.introduzione {
	font: 25px Arial, sans-serif;
    text-align: center;
    line-height: 150%;
    
}

.subTitleGreen {
	color: #22d226;
	font-family: 'Lucida Calligraphy';
    font-size: 60px;
    text-align: center;
}



.generalText {
	font: 20px Arial, sans-serif;
    text-align: center;
    line-height: 100%;
    
}

.figure {
color: #22d226;
	font-family: 'Lucida Calligraphy';
    font-size: 25px;
    
	
}

.carrello {
	font: 20px Arial, sans-serif;
	text-align: center;
}
